.logocontainer{
    margin-left: 10px;
    height: 100px;
    
    .tilt{
        background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);

        .braincontainer{
            padding: 3px;

            img{
                padding-top: 20px;
            }
        }
    }
   
}